* {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
}

body {
  height: 100vh;
  width: 100vw;
}

#canvas {
  border: 5px solid rgb(54, 42, 165);
  background-color: black;
}

.wrapper {
  position: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 100vh;
}
